    #optionscontainer {
        display: flex;
    }

    #optionscontainer > div {
        text-align: center;
    }

    #configcontainer {
        min-width: 35%;;
        padding: 20px;
        margin: 5px;
        background-color: grey;
    }

    #executecontainer {
        margin-left: 3%;
    }

    #executecontainer > div {
        width: 100%;
        margin-top: 50%;
    }

    #logbuttons {
        margin: 10px;
    }

    #logbuttons > div {
        margin-top: 10px;
        margin-right: 1px;
    }

    #logcontainer {
        width: 90%;
        padding: 20px;
        margin-left: 5%;
        text-align: center;
        background-color: #445555;
    }

    #stacktrace {
        position: relative;
        width: 60%;
        margin: 5px;
        margin-left: 3%;
        color: #cccccc;
        background-color: black;
        text-align: start;
        overflow: scroll;
    }

    table {
        background-color: #445555;
    }

    tr {
        color: #cccccc;
        font-size: 14px;
    }

    td {
        color: #FDFDFD;
        background-color: black;
        font-size: 12px;
    }