@inherits LayoutComponentBase

<div class="main">
    <nav class="navbar navbar-dark fixed-top">
        <NavMenu FullView="false" />
    </nav>
    <div class="container vertical-center justify-content-center">
        <div class="row">
            @Body
        </div>
    </div>
</div>
