@inherits LayoutComponentBase
@inject IAuthorizeService authorizeService
@inject NavigationManager navigationManager

<BlazoredModal />

<AuthorizeView>
    <Authorized>
        <nav class="navbar navbar-dark fixed-top p-0">
            <NavMenu/>
        </nav>

        <div class="container" style="padding-top: 70px;">
            <div class="content">
                @Body
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@functions{

    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        bool isResetPasswordOrReqisterRequest = navigationManager.Uri.Contains("resetpassword") || navigationManager.Uri.Contains("register");

        if (!(await AuthenticationState).User.Identity.IsAuthenticated && !isResetPasswordOrReqisterRequest)
        {
            navigationManager.NavigateTo("/login");
        }
    }

}
