@inject IAuthorizeService authorizeService
@inject NavigationManager navigationManager

<a class="navbar-brand" href="">
    <img src="/img/btblogo.png" alt="">
</a>

@if (FullView)
{
    <ul class="navbar-nav flex-row">
        <li class="nav-item top-row px-4">
            <NavLink class="nav-link" href="">
                Dashboard
            </NavLink>
        </li>

        <AuthorizeView Policy="@Policies.IsAdmin">
            <div class="vertical-line-separator"></div>

            <li class="nav-item top-row px-4">
                <NavLink class="nav-link" href="users">
                    Users
                </NavLink>
            </li>

            <li class="nav-item top-row px-4">
                <NavLink class="nav-link" href="logboard">
                    Logs
                </NavLink>
            </li>

            <div class="vertical-line-separator"></div>

        </AuthorizeView>

        <li class="nav-item top-row px-4">
            <NavLink class="nav-link" href="userprofile">
                My Profile
            </NavLink>
        </li>

        <li class="nav-item top-row px-4 float-right">
            <button type="button" class="btn btn-md" style="background-color: #FF5722;" @onclick="@LogoutClick">
                <p class="font-weight-bold px-4 mb-0">
                    Logout
                </p>
            </button>
        </li>
    </ul>
}

@code {
    [Parameter]
    public bool FullView { get; set; } = true;

    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    async Task LogoutClick()
    {
        await authorizeService.Logout();
        navigationManager.NavigateTo("/login");
    }
}
