@using BTB.Client.Pages.Dto
<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in _users)
        {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
        </tr>
        }
    </tbody>
</table>

@code {

    [CascadingParameter]
    private IEnumerable<ApplicationUserVO> _users { get; set; }

}
