@page "/details/{symbol}"

@using BTB.Client.Pages.Dto
@using Binance.Net.Objects
@using System.Net.Http;
@using System.Net;
@using Newtonsoft.Json;
@using BTB.Domain.ValueObjects
@inject HttpClient Http

<h1>Details of @Symbol</h1>

@if (_priceHistory == null && _requestFailed == false)
{
    <p><em>Loading...</em></p>
}
else if (_requestFailed == true)
{
    <br />
    <h3><em style="color: red;">@_errorMessage</em></h3>
    <a href="/">Return to Dashboard</a>
}
else
{
    <br />

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="Minutes group">
            <button @onclick=@(async () => await RefreshDetailsList(KlineInterval.FiveMinutes)) type="button" class="btn btn-primary">5 min</button>
            <button @onclick=@(async () => await RefreshDetailsList(KlineInterval.FifteenMinutes)) type="button" class="btn btn-primary">15 min</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Hours group">
            <button @onclick=@(async () => await RefreshDetailsList(KlineInterval.OneHour)) type="button" class="btn btn-primary">1h</button>
            <button @onclick=@(async () => await RefreshDetailsList(KlineInterval.TwoHour)) type="button" class="btn btn-primary">2h</button>
            <button @onclick=@(async () => await RefreshDetailsList(KlineInterval.FourHour)) type="button" class="btn btn-primary">4h</button>
            <button @onclick=@(async () => await RefreshDetailsList(KlineInterval.TwelveHour)) type="button" class="btn btn-primary">12h</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Days group">
            <button @onclick=@(async () => await RefreshDetailsList(KlineInterval.OneDay)) type="button" class="btn btn-primary">1d</button>
        </div>
        <div class="btn-group" role="group" aria-label="Table Charts">
            <button type="button" class="btn btn-primary" @onclick="TurnOffChart">Table</button>
            <button type="button" class="btn btn-primary" @onclick="TurnOnChart">Chart</button>
        </div>
        
    </div>

    <br />

    <CascadingValue Value="_priceHistory">
        @if (!_chartsOn)
        {
            <DetailsTable></DetailsTable>
        }
        else
        {
            <DetailsChart></DetailsChart>
        }
    </CascadingValue>

    
}

@code {

    private IEnumerable<KlineVO> _priceHistory { get; set; }

    private bool _chartsOn = false;

    private bool _requestFailed = false;

    private string _errorMessage;

    [Parameter]
    public string Symbol { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await RefreshDetailsList(KlineInterval.FiveMinutes);
    }

    private async Task RefreshDetailsList(KlineInterval interval)
    {
        var response = await Http.GetAsync($"api/details/{Symbol}?interval={interval}");
        var jsonString = await response.Content.ReadAsStringAsync();

        if (response.StatusCode == HttpStatusCode.BadRequest)
        {
            _requestFailed = true;
            _errorMessage = jsonString;
        }
        else
        {
            _priceHistory = JsonConvert.DeserializeObject<IEnumerable<KlineVO>>(jsonString);

        }
    }

    private void TurnOnChart()
    {
        _chartsOn = true;
    }

    private void TurnOffChart()
    {
        _chartsOn = false;
    }

}
