@using System
@using Newtonsoft.Json;
@inject IJSRuntime jsRuntime

@if (_priceHistory != null)
{
    @if (_priceHistory.Count() == 0)
    {
        <p>Could not display chart as there are not enough klines.</p>
    }
    else
    {
        <div id="chart_div"></div>
    }
}


@code {

    [CascadingParameter]
    private IEnumerable<KlineVO> _priceHistory { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var candlestick = from p in _priceHistory
                          select new
                          {
                              time = ((DateTimeOffset)p.CloseTime).ToUnixTimeSeconds(),
                              //time = (int)(p.CloseTime.Subtract(new DateTime(1970, 1, 1)).TotalSeconds),
                              open = p.OpenPrice,
                              high = p.HighestPrice,
                              low = p.LowestPrice,
                              close = p.ClosePrice
                          };
        var candlestickJson = JsonConvert.SerializeObject(candlestick);
        await jsRuntime.InvokeVoidAsync("drawCandlestick", "chart_div", candlestickJson);
    }
}

