@inject HttpClient Http
@inject IAuthorizeService authorizeService
@inject NavigationManager navigationManager
@inject Blazored.Modal.Services.IModalService Modal

<div id="innerContainer">
    <p class="text-center">Password has been changed.</p>
    <div class="col text-center">
        <button class="btn btn-success" @onclick="@LogoutAndRedirectToLoginPage">Go to login page</button>
    </div>
</div>

@code {

    private async Task LogoutAndRedirectToLoginPage()
    {
        await authorizeService.Logout();
        navigationManager.NavigateTo("/login");
    }

}