@using System.Text.Json
@using System.Threading
@inject HttpClient Http
@if (!_loading)
{
    <span class="font-weight-bold" style="color:#FF5722; margin-right:5px">&#9830;</span>
    <span style="color:rgba(255,255,255,.5); margin-right:10px">@_points</span>
    <span class="font-weight-bold" style="color:#FF5722; margin-right:5px">&#9826;</span>
    <span style="color:rgba(255,255,255,.5); margin-right:10px">@_sealedPoints</span>
}
@code {

    private bool _loading = true;
    private decimal _points;
    private decimal _sealedPoints;
    private readonly CancellationTokenSource _tokenSource = new CancellationTokenSource();

    protected override async Task OnInitializedAsync()
    {
        var httpResponse = await Http.GetAsync("/api/GamblePoint");

        if (_tokenSource.Token.IsCancellationRequested)
        {
            return;
        }

        if (httpResponse.IsSuccessStatusCode)
        {
            var responseString = await httpResponse.Content.ReadAsStringAsync();
            GamblePointsVO pointsVO = JsonSerializer.Deserialize<GamblePointsVO>(responseString, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });

            _points = Decimal.Round(pointsVO.FreePoints, 2);
            _sealedPoints = Decimal.Round(pointsVO.SealedPoints, 2);
            _loading = false;
        }

    }

}